.image{
  min-height: 80%;
  width: 40px;
  margin-right: 6px;
  margin-left: 0px;
}
.separator{
  margin-left: 3px;
  margin-right: 3px;

}

.panel-heading{
  vertical-align: middle;
}

.panel-body{

}


.list-group{
  padding-right: 3px;
  padding-left: 3px;
  margin-left: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 0px;
}
