<div class="full-page">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/"></a>
      <img alt="Brand" src="../assets/scent-logo-web.png">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><a href="/posts">Posts</a></li>
      <li><a href="/private-deals">Private Deals</a></li>
      <li><a href="/maps-view"><span class="glyphicon glyphicon-globe"> </span>  Map</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login" routerLinkActive="active" *ngIf="!userIsLogged()"><span class="glyphicon glyphicon-log-in"> </span>  Login</a></li>
        <li class="dropdown" *ngIf="userIsLogged()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-user"> </span>  {{getUserName()}}<span class="caret" ></span></a>
          <ul class="dropdown-menu">
            <li><a href="/edit">Profile</a></li>
            <li><a href="#">Change Password</a></li>

              <li role="separator" class="divider" *ngIf="userIsLogged() && userIsAdmin()"></li>
              <li><a href="/register" *ngIf="userIsLogged() && userIsAdmin()">Register User</a></li>
              <li><a href="/delete" *ngIf="userIsLogged() && userIsAdmin()">Delete User</a></li>
              <li><a href="#" *ngIf="userIsLogged() && userIsAdmin()">Edit User</a></li>

          </ul>
        </li>
        <li><a routerLink="/logout" routerLinkActive="active" *ngIf="userIsLogged()" (click)="logout()"><span class="glyphicon glyphicon-log-out"> </span>  Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



  <!-- The router-outlet directive will display the component based on the route we are on, more on this soon -->
  <router-outlet></router-outlet>


</div>


<!--

<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/dashboard"></a>
        </div>

        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/deals" routerLinkActive="active">Deals</a>
          </li>
          <li>
            <a routerLink="/special" routerLinkActive="active">Private Deals</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>Log In</a>
          </li>
          <li>
            <a>Log Out</a>
          </li>
        </ul>
    </nav>

</div>
    <div class="col-sm-12">

      <router-outlet></router-outlet>
    </div>
  </div>
-->
